<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <title>設備資料</title>
</head>
<body>
    <%- include('../_Partials/header') %>

    <div style="display:flex;flex-direction: column; justify-content: center; align-items: center;width: 30vw;margin: 0vw 35vw 0vw 35vw; border-radius: 10px;background-color: rgba(255, 255, 255, 0.500);padding-bottom: 30px; margin-top: 30px; border: 1px solid black; box-shadow: 0 10px 10px -10px;">
    <form method="post" action="/Api/Admin/UpdateEquipment">
        <h3 style="display: block; text-align: center;"><%= buildingName %>-<%= roomNumber %>-<%= equipmentDetail.name %></h3>
        <input type="hidden" name="buildingName" value="<%= buildingName %>">
        <input type="hidden" name="roomNumber" value="<%= roomNumber %>">
        <input type="hidden" name="equipmentName" value="<%= equipmentDetail.name %>">
        <div>
            <input type="number" id="quantity" name="quantity" value="<%= equipmentDetail.quantity %>" min="1" >
            <label for="quantity">個</label>
        </div>
        <input style="display: block;margin-top: 10px;" type="submit" value="更新">
    </form>
    </div>
</body>
</html>