<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <title>設備資料</title>
</head>
<body style="margin: 0; padding: 0;">
    <%- include('../_Partials/header') %>

    <h2><%= buildingName %>-<%= roomNumber %>-<%= equipmentDetail.name %>:</h2>
    <form method="post" action="/Api/Admin/UpdateEquipment">
        <input type="hidden" name="buildingName" value="<%= buildingName %>">
        <input type="hidden" name="roomNumber" value="<%= roomNumber %>">
        <input type="hidden" name="equipmentName" value="<%= equipmentDetail.name %>">
        <input type="number" id="quantity" name="quantity" value="<%= equipmentDetail.quantity %>" min="1" >
        <label for="quantity">個</label>
        <input type="submit" value="更新">
    </form>

</body>
</html>