<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <title><%= buildingName %></title>
</head>
<body>
    <%- include('../_Partials/header') %>
    <h2><%= buildingName %> : </h2>
    <table>
        <tr>
            <th>房號</th>
        </tr>
        <% for(let r of allRooms){ %>
            <tr>
                <td>
                    <% if(userData.roles.has('Admin')){ %>
                        <a href="./<%= r.building_name %>/<%= r.room_number %>"><%= r.room_number %></a>
                    <% }else{ %>
                        <a href="./Room/<%= r.room_number %>"><%= r.room_number %></a>
                    <% } %>
                </td>
            </tr>
        <% } %>
    </table>
    <% if(userData.roles.has('Admin')){ %>
        <form method="post" action="/Api/Admin/AddRoom">
            <input type="hidden" name="buildingName" value="<%= buildingName %>">
            <input type="number" name="roomNumber" placeholder="房號" min="0" required>
            <input type="submit" value="新增房間">
        </form>
    <% } %>
</body>
</html>