<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <title>留言板</title>
</head>
<body style="margin: 0; padding: 0;">
    <%- include('../_Partials/header') %>

    <table>
        <% for(let c of comments){ %>
            <tr>
                <td>
                    <%= c.comment %>
                </td>
                <td><%= c.name %>(<%= c.student_id %>)</td>
                <% if(userData.roles.has('Admin') || userData.roles.has('DormAdmin')){ %>
                    <td>
                        <form method="post" action="/Api/DeleteComment" onsubmit="return confirm('確定刪除?')">
                            <input type="hidden" name="commentId" value="<%= c.comment_id %>">
                            <input type="submit" value="刪除">
                        </form>
                    </td>
                <% } %>
            </tr>
        <% } %>
    </table>

    <form method="post" action="/Api/PostComment">
        <input type="text" name="comment" placeholder="輸入留言">
        <input type="submit" value="留言">
    </form>
    
</body>
</html>