<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>違規紀錄</title>
</head>
<body>
    <%- include('../_Partials/Navbar') %>

    <table>
        <tr>
            <th>日期</th>
            <th>學號</th>
            <th>姓名</th>
            <th>違規細節</th>
            <th>逞罰</th>
            <th>宿舍大樓</th>
            <th>房號</th>
            <th>舍監學號</th>
        </tr>

        <% for(let v of violationDatas){ %>
            <tr>
                <td><%= v.violation_date.toLocaleString('zh-TW') %></td>
                <td><%= v.student_id %></td>
                <td><%= v.name %></td>
                <td><%= v.violation_detail %></td>
                <td><%= v.punishment %></td>
                <td><%= v.building_name %></td>
                <td><%= v.room_number %></td>
                <td><%= v.dorm_admin_id %></td>
                <% if(userData.roles.has('Admin')){ %>
                    <td>
                        <form method="post" action="/Api/Admin/DeleteViolation" onsubmit="return confirm('確定刪除?')">
                            <input type="hidden" name="violationId" value="<%= v.violation_id %>">
                            <input type="submit" value="刪除">
                        </form>
                    </td>
                <% }else if(userData.roles.has('DormAdmin') && v.dorm_admin_id === userData.id){ %>
                    <td>
                        <form method="post" action="/Api/DormAdmin/DeleteViolation" onsubmit="return confirm('確定刪除?')">
                            <input type="hidden" name="violationId" value="<%= v.violation_id %>">
                            <input type="submit" value="刪除">
                        </form>
                    </td>
                <% } %>
            </tr>
        <% } %>    
    </table>
    
    <% if(userData.roles.has('DormAdmin')){ %>
        <form method="post" action="/Api/DormAdmin/NewViolation">
            <input type="text" name="studentId" placeholder="違規學生學號" required>
            <input type="text" name="detail" placeholder="違規細節" required>
            <input type="text" name="punishment" placeholder="懲處" required>
            <input type="submit" value="新增">
        </form>
    <% } %>

</body>
</html>